* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: hsl(204, 43%, 93%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  background-color: white;
  max-width: 635px;
  padding: 48px;
  border-radius: 8px;
}

.section-1 h1 {
  color: hsl(179, 62%, 43%);
  margin-bottom: 32px;
}

.section-1 h3 {
  color: hsl(71, 73%, 54%);
  margin-bottom: 8px;
}

.section-1 p {
  color: hsl(218, 22%, 67%);
}

.section-2 {
  background-color: hsl(179, 62%, 43%);
}

.section-3 {
  background-color: hsl(204, 43%, 93%);
}

/*
h3 {
 color: white;
}
*/